@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


:root {
    --cor0: #E2E6E0;
    --cor1: #839490;
    --cor2: #0c3029;
    --cor3: #52a084;
    --cor4: #13544d;
}

* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
}

nav {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #0C3029;
    width: 100%;
    height: 180px;
}

nav a {
    color: var(--cor1);
    text-decoration: none;
    padding: 15px;
    margin: auto;
}

nav a:hover {
    color: var(--cor0);
    text-decoration: underline;
}

ul.nav-list {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    list-style: none;
    font-size: 0.9em;
    width: 100%;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    display: flex;
    width: 25px;
    height: 2.1px;
    background: var(--cor0);
    margin: 3px;
    transition: 0.3s;
    border-radius: 10px;
}

span.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-right: 45px;
    margin-left: 20px;
    width: 280px;
}

.logo-img {
    display: flex;
    position: relative;
    width: 130px;
    height: 130px;

}

.logo-txt {
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    text-align: center;
    white-space: nowrap;
    color: var(--cor0);
    font-size: 1.1em;
    
}

picture.cenarium {
    height: 300px;
    object-fit: fill;
}

.cenarium img {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    object-fit: fill;
}

h1 {
    background-color: white;
    color: rgb(131, 148, 144);
    font-size: 6em;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
    max-width: 100%;
}

h1 span {
    color: rgba(169, 169, 169, 0.709);
    background-color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.inspiracao {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 33% 33% 33%;
    gap: 5px;
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    /* border: 1px solid var(--cor1); */
}

.inspiracao div {
    /* background-color: #0C3029; */
    margin: auto;
}

.texto1 {
    grid-row: 1/4;
    padding: 0px 105px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    line-height: 1.6;
    text-align: justify;
    color: grey;
}

.bolas img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 15px 30px 2px rgba(0, 0, 0, 0.667);
}

.bola1 {
    margin-top: 60px;
}

h2 {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    color: #839490;
    padding: 60px 0px 60px 15px;
}

section#paralax {
    color: white;
    background-image: url('./imagens/paralax.JPG');
    background-position: center;
}

section.natureza {
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.489);
    height: 800px;
    width: 100vw;
}

section.natureza p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.245);
    width: 500px;
    padding: 20px 20px 20px 20px;
    margin-top: 110px;
    margin-left: 30px;
}

h2.segundoh2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 3em;
}

.frase-estrutura1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: var(--cor1);
    text-align: center;
}

p.frase-estrutura2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: var(--cor1);
    text-align: center;
    margin-top: 60px;
}

p.frase-estrutura2 a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}

p.frase-estrutura2 a:hover {
    background: var(--cor0);
    padding: 5px;
    border-radius: 5px;
}

.icos {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
/*Parte do código que busquei no Google para por zoom na galeria*/
    overflow: hidden;
}

.icos p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #39594f;
}

.icos img {
    display: flex;
    position: relative;
    height: 80px;
    width: 80px;
    margin: 30px;
    border-radius: 5px 5px 5px 5px;
/*Parte do código que busquei no Google para por zoom na galeria*/
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.icos:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
}

article.texto3 {
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.texto3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #39594f;
    background-color: var(--cor0);
    border-radius: 10px;
    max-width: 50%;
    padding: 20px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    width: 100%;
    clear: both;
}

footer a {
    color: var(--cor1);
}

footer a:hover {
    color: white;
}

div.localizacao {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor0);
    height: 400px;
}

.endereco {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 2.5em;
    color: #39594f;
    padding: 40px;
}

.endereco a {
    text-decoration: none;
    color: #39594f;
}

.endereco a:hover {
    text-decoration: underline;
    color: #39594f;
}

.google iframe{
    display: inline-block;
    height: 250px;
    width: 450px;
}

div.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C3029;
    padding: 50px;
    height: 130px;
}

div.final p {
    width: 200px;
    text-align: center;
}

.texto-a-esquerda {
    display: inline-block;
    color: var(--cor0);
}

.texto-a-direita {
    display: inline-block;
    color: var(--cor1);
}

img.logo-rodape {
    display: flex;
    width: 100px;
    height: 100px;
}

/* Mobile: */

@media (max-width: 1024px) {
    section#paralax {
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    div.localizacao {
        grid-template-columns: 1fr;
        height: 450px;
    }

    .endereco {
        padding: 15px;
        text-align: center;
    }

    span.google {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .google iframe {
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    span.logo {
        margin-right: 20px;
    }
    
    .nav-list a {
       padding: 10px;
    }

    .texto1 {
        font-size: 1.5rem;
        margin: auto;
    }
}

  @media (max-width: 768px) {
    body, html {
        overflow-x: hidden;
        margin-top: 0;
    }

    header {
        padding-bottom: 25px;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list a {
        position: absolute;
        text-transform: uppercase;
        color: var(--cor0);
        width: 180px;
    }

    ul.nav-list {
        position: fixed;
        top: 0vh;
        right: 0;
        width: 80vw;
        height: 100vh;
        opacity: 95%;
        padding: 80px 0px 120px;
        background:#13544d;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    ul.nav-list.active {
        transform: translateX(0);
        padding-left: 40px;
        z-index: 1000;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 25px;
        top: 90px;
        right: 40px;
        z-index: 1100;
    }

    header h1 {
        font-size: 15vw;
        justify-content: center;
    }

    .inspiracao {
        display: block;
    }

    div.texto1 {
        font-size: clamp(0.5em, 1.2em, 1.2em);
        margin: auto;
        padding: 0px 25px;
    }

    .bolas img {
        display: none;
    }

    section.natureza p {
        width: 80vw;
        margin-top: 150px;
        padding: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.245);
    }


    /* section#paralax {
        color: white;
        background-image: url('./imagens/paralax.JPG');
        background-position: center;
    }
    
    section.natureza {
        background-size: cover;
        background-attachment: fixed;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.489);
        height: 800px;
        width: 100vw;
    } */



    .icos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .icos img {
        height: 40px;
        width: 40px;
        max-width: 100%;
        margin: auto;
    }

    .icos p {
        font-size: 0.85rem;
        text-align: center;
    }

    .texto3 {
        max-width: 90%;
    }

    .google iframe {
        width: 95vw;
        height: 300px;
        margin: 50px, 0px;
    }

    div.localizacao {
        display: flex;
        flex-direction: column;
        height: 500px;
        text-align: center;
    }

    img.logo-rodape {
        display: flex;
        width: 50px;
        height: 50px;
        margin: 10px 0px;
    }

    div.final {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
  .mobile-menu.active .line2 {
    opacity: 0;
}
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-3px, -4px);
}  /* End of menus */


/* QUEM SOMOS */

/* #quem-somos {
    background: url('./imagens/quemsomos.jpg') center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

#quem-somos {
    background: #FFFFFF url('./imagens/quemsomos.jpg') center center no-repeat;
    background-size: cover;
}

h3 {
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: var(--cor0);
    margin-top: 80px;
    padding-bottom: 80px;
    font-size: 3em;
}

.somos p {
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: var(--cor0);
    font-size: 2em;
    height: 350px;
    width: 500px;
    margin-bottom: 110px;
}

p.um {
    display: flex;
    margin-left: 50px;
    margin-bottom: 40px;
}

p.dois {
    display: flex;
    height: 375px;
    margin: auto;
    margin-bottom: 30px;
}

p.tres {
    display: flex;
    float: right;
    margin-right: 50px;
}

@media (max-width: 768px) {
#quem-somos {
    background-position: right, center;
}

/* p.um, p.dois, p.tres {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.5rem;
    width: 310px;

    SUBSTITUÍ PELA DECLARAÇÃO (.somos p)
} */

.somos h3 {
    font-size: 2.8rem;
    color: var(--cor0);
    margin-top: 30px;
    padding-bottom: 30px;
}

.somos p {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.5rem;
    width: 310px;
}
p.tres {
    display: flex;
    float: none;
}
}


/* GALERIA */

/* .texto-galeria {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: var(--cor1);
    padding: 40px 0px;
    text-align: center;
} */

h2.galeriah2 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 0px;
}

h2.galeriah2 span {
    color: rgba(169, 169, 169, 0.709);
    background-color: white; 
}

.icos-galeria {
    display: flex;
    position: relative;
    justify-content: center;
}

.icos-galeria img {
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 30px;
    border-radius: 5px 5px 5px 5px;
    max-width: 100%;
}

.container-galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
    padding: 15px 15px 80px;
    grid-gap: 5px;
}

.item-galeria {
    position: relative;
}

.item-galeria .img-galeria {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform .2s;
    border: 2px solid white;
    box-shadow: 5px 8px 5px -9px rgba(0, 0, 0, 0.667);
}

.item-galeria img:hover {
    transform: scale(1.05);

}

.w-2 {
    grid-column: span 2;
}

@media (max-width: 768px) {
    
    h2.galeriah2 {
        font-size: 3.2rem;
        padding-top: 10px;
    }
    .container-galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 50vh;
    }

    .w-2 {
        grid-column: span 1;
    }

    .lightbox, .lightbox:target {
        display: none;
    }

    img.img-galeria {
        cursor: default;
    }

    .icos-galeria img {
        height: 40px;
        width: 40px;
        margin: 10px;
        max-width: 100%;
    }
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transform: scale(0);
    transition: transform .4s ease-in-out;
}

.lightbox img {
    width: 70vw;
    max-height: 70vh;
    object-fit: contain;
}

.lightbox:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    top: 40px;
    right: 40px;
    background:var(--cor2);
    color:#ffffff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.next {
    display: block;
    background: var(--cor2);
    font-size: 2em;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* CONTATO 
Revisar todas as declarações
*/

.contato img {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    object-fit: contain;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    color: var(--cor2);
    padding-bottom: 10px;
}

.contato-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: var(--cor1);
    padding-bottom: 30px;
}

form.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    width: 100%;
    height: 400px;
}

input.inp {
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 0.9em;
    background-color: #ffffff;
    border-radius: 5px;
    width: 39vw;
    border: 1px solid var(--cor2);
}

.formulario .inp:focus {
    border: 2px solid;
    transition: 200ms;
}

.formulario .inp::placeholder {
    color: var(--cor2);
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: var(--cor2);
    outline: none;
    padding-left: 8px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: var(--cor2);
    width: 78.5vw;
    resize: none;
}

textarea:focus {
    border: 2px solid;
    transition: 200ms;
}

textarea::placeholder {
    color: var(--cor2);
}

.botao-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--cor2);
    background-color: var(--cor1);
    color: var(--cor0);
}

.botao-enviar:hover {
    border-width: 2.5px;
    transition: 200ms ease;
}

@media (max-width: 768px) {
.contato-form p {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    }
}

/* ÁREA DO USUÁRIO 
Texto tem um erro de português
*/

#usuario {
    background-color: var(--cor0);
}

.usuario img {
    display: flex;
    margin: auto;
    width: 70vw;
    max-width: 900px;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
.usuario img {
    width: 90vw;
    margin-top: 50px;
}
}
