@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding:0px;
}
body{
    background-attachment: fixed;
    background-color: rgba(211, 211, 211, 0.431);
}

main {
    min-width: 380px;
    max-width: 1000px;
    background-color: rgba(211, 211, 211, 0.431);
    margin: auto;
}
header {
    display: flex;
    position: relative;
    justify-content: center;


}
header #paisagem {
    height: 200px;
    width: 100vh;
    position: relative;
    background-image: url('./imagens/background002.jpg');
}

header #logo {
    display: flex;
    position: relative;
    height: 70px;
    width: 100px;
    background-image: url('./imagens/Shape_black.jpg');
    left: -200px;
    top: 6%;
}

nav {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100%;
}

nav > a {
    color: gray;
    text-decoration: none;
    padding: 30px;
}

nav > a:hover {
    color: black;
}

section {
    padding-top: 80px;
}

.inspiracao {
    display: flex;
    padding-top: 0px;
}

.inspiracao h1 {
    background-color: white;
    color: black;
    font-size: 11vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 90%;
    padding: 100px 0px 50px 10px;
    margin-left: 10px;
    margin: auto;
}

section h1 span {
    color: darkgrey;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inspiracao p {
    width: 50vh;
    padding-left: 50px;
}

.natureza {
    margin: auto;
    height: 930px;
}

section h2 {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 2.5em;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.629);
    padding-left: 10px;
}

section .texto1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 2.5vh;
    text-align: justify;
    color: grey;
    height: 950px;
    width: 100%;
    padding: 0px 100px 30px 20px;

}

section .img1 {
    display: flex;
    position: relative;
    height: 300px;
    width: 450px;
    left: 62vh;
    top: -300px;
    background-size: cover;
    background-image: url('./imagens/background002.jpg');
}

section .img2 {
    display: flex;
    position: relative;
    padding-bottom: 5px;
    height: 450px;
    width: 300px;
    left: 98vh;
    top: -350px;
    transform: translate(-50%);
    background-image: url('./imagens/Shape_greenlight.jpg');
}

.texto2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 1.5em;
    text-align: justify;
    color: grey;
    padding-top: 180px;
    padding-right: 30px;
    padding-left: 450px;
    padding-bottom: 0px;
}

.img3 {
    display: flex;
    position: relative;
    height: 500px;
    width: 300px;
    left: 10px;
    top: -250px;
    transform: translate(-150%);
    background-image: url('./imagens/Shape_black.jpg');
}

section .texto3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: grey;
    background-color: rgba(211, 211, 211, 0.645);
    border-radius: 10px;
    max-width: 60%;
    padding: 20px;
    margin: auto;
}

.galeria {
    display: block;
    position: relative;
    height: 400px;
    width: 100vh;
    padding-top: 5px;
}

.fotos {
    display: flex;
    justify-content: center;
    position: relative;
    
}

.foto3 {
    display: flex;
    height: 275px;
    width: 275px;
}

.finalizando {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.final {
    display: inline-block;
    position: relative;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 0px;
    width: 50%;
    left: 10px;
    top: 98px;
    line-height: 2.5em;
}

.final a {
    text-decoration: none;
    color: gray;
}

.final a:hover {
    color: darkblue;
}

.google {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    height: 200px;
    width: 350px;
    left: 60vh;
    top: -180px;
    transform: translate(-30%);
}

.google iframe{
    left:5vh;
    top:0;
    height: 120%;
    width:120%;
    position:absolute;
    border-radius: 5px;
}

footer {
    background-color: black;
    padding: 0px;
    width: 100vh;
    margin: auto;
}

.assinatura {
    display: inline-block;
    position: absolute;
    color: gray;
    text-align: left;
    padding-left: 10px;
    font-size: 0.7em;

}

.assinatura a {
    text-decoration: underline;
    color: gray;
}

.assinatura a:hover {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.assinatura p {
    padding-top: 10px;
}

.redesocial {
    display: inline-block;
    position: relative;
    background-image: url('./imagens/social.png');
    background-size: cover;
    background-color: black;
    height: 28px;
    width: 28px;
    left: 95vh;
    bottom: 0px;
}